@using Sitecore.Data.Items
@using Sitecore.Data
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@model EvolvoBestPractice.Models.DetailBox2

<!-- Details Lightbox 2 -->
<div id="details-lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="container">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src="~/AssetsEvolvoSite/images/details-lightbox-2.svg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>@Model.Title()</h3>
                <hr>
                <h5>@Model.SubTitle()</h5>
                @Html.Raw(Model.Description())
                <ul class="list-unstyled li-space-lg">
                    @if (Model.List_building_framework())
                    {
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">List building framework</div>
                        </li>
                    }
                    @if (Model.Easy_database_browsing())
                    {
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Easy database browsing</div>
                        </li>
                    }
                    @if (Model.User_administration())
                    {
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">User administration</div>
                        </li>
                    }
                    @if (Model.Automate_user_signup())
                    {
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Automate user signup</div>
                        </li>
                    }
                    @if (Model.Quick_formatting_tools())
                    {
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Quick formatting tools</div>
                        </li>
                    }
                    @if (Model.Fast_email_checking())
                    {
                        <li class="media">
                            <i class="fas fa-check"></i><div class="media-body">Fast email checking</div>
                        </li>
                    }
                </ul>
                <a class="btn-solid-reg mfp-close page-scroll" href="#request">@Model.ButtonR()</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">@Model.ButtonB()</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of lightbox-basic -->
<!-- end of details lightbox 2 -->